<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharenzy</title>
    <link rel="stylesheet" href="../../../Engine/Ui/Main/main.css">
    <link rel="stylesheet" href="../../../Engine/Ui/Account/login.css"> 
    <script src="../../../Engine/Scripts/main_sidebar.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>UserPanel</h1>
        </header>
        
        <nav class="main-nav-sidebar" id="sidebar">
            <div class="menu-icon" id="menu-icon">
                <img src="../../../Engine/Images/Svg/Menu.svg" alt="Menu Icon" width="24" height="24">
            </div>
        
            <a href="View/Account/login.php" class="account-icon">
                <img src="../../../Engine/Images/Svg/Account.svg" alt="Account Icon" width="40" height="40">
            </a>
        
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="View/Terms/terms_of_service.html">Terms Of Service</a></li>
            </ul>
        </nav>

    </div>

    <footer>
        <p>© 2025 Sharenzy. All Rights Reserved.</p>
    </footer>
    
</body>
</html>
